{% block head %}
  {% include 'jinja/head.html' %}
{% endblock %}
<div class='email'>
    {% for message in my_data.messages %}
    <div class='email-message card'>
        <div class='card-body'>
            <h3 class='card-title'>{{message.subject}}</h3>
            <h4 class='card-subtitle text-muted'>{{message.author}}</h4>
            <div class='email-message-content'>
                {{message.content}}
            </div>
            <h5 class='card-subtitle text-muted'>{{message.date}}</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% block tail %}
  {% include 'jinja/tail.html' %}
{% endblock %}