{% block head %}
  {% include 'jinja/head.html' %}
{% endblock %}

<div class='secret app'>
  <div class='msg'>
    <h1>Too many password attempts!</h1>
    <div class='form-group'>
      <label for="q1">What is your pet's name?</label>
      <input type="text" class='form-control' id='q1'>
    </div>
    <div class='form-group'>
      <label for="q2">When is your birthday (MM/DD/YYYY)?</label>
      <input type="text" class='form-control' id='q2'>
    </div>
    <div class='form-group'>
      <label for="q3">What is your ex's name?</label>
      <input type="text" class='form-control' id='q3'>
    </div>
    <button type="submit" class="btn btn-dark" onclick="submitGuess()">Get password</button>
  </div>
</div>

<script>
  function submitGuess() {
    const q1 = $('#q1').val().toLowerCase()
    const q2 = $('#q2').val().toLowerCase()
    const q3 = $('#q3').val().toLowerCase()
    
    if (q1 && q2 && q3) {  
      axios.post('/api/guess', {q1, q2, q3})
      .then((res) => {
        const { data } = res
        
        for (const [key, value] of Object.entries(data)) {
          if (value == false) {
            window.location.replace('lose')
          }
        }
        
        window.location.replace('win')
      })
    }
    else {
      window.location.replace('lose')
    }
  }
</script>

{% block tail %}
  {% include 'jinja/tail.html' %}
{% endblock %}