/* Variables */

:root {
  --pdf-color: red;
  --email-color: skyblue;
  --diary-color: pink;
  --png-color: limegreen;
}

/* Tags */

html {
  /* Reset */
  height: 100%;
}

body {
  /* Reset */
  margin: 0;
  padding: 0;
  height: 100%;
  
  /* Background */
  background-image: url("https://images.unsplash.com/photo-1490750967868-88aa4486c946?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Text */
  font-family: monospace;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: currentColor;
}

h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

svg {
  fill: currentColor;
}

/* Layouts */

.app {
  height: 100%;
  padding: 8px 8px 0;
}

.desktop {
  display: flex;
  flex-flow: row wrap;
}

.pdf {
  background-color: white;
}

.email {
  background-color: var(--email-color);
}

.diary {
  background-color: var(--diary-color);
}

.msg {
  max-width: 800px;
  margin: 36px auto;
  box-sizing: border-box;
}

.msg-content {
  margin-top: 12px;
  margin-bottom: 24px;
}

/* Files */

[class*="file-"] {
  background-color: rgba(0, 0, 0, 0.67);
  margin: 24px 24px;
  padding: 8px;
  text-align: center;
  font-weight: bold;
  height: 100px;
}

.file-pdf {
  color: var(--pdf-color);
}

.file-email {
  color: var(--email-color);
}

.file-diary {
  color: var(--diary-color);
}

.file-png {
  color: var(--png-color);
}