{% block head %}
  {% include 'jinja/head.html' %}
{% endblock %}

<div class='diary app'>
    <div class='msg card'>
        <div class='card-body'>
            <h3 class='card-title'>{{my_data.subject}}</h3>
            <div class='msg-content' id='content'>
                {{my_data.content}}
            </div>
        </div>
    </div>
</div>

<script>
  const md = 
    $('#content').text()
    .trim()
    .split('\n').map(line => line.trim())
    .join('\n')

  $('#content').html(marked(md))
</script>

{% block tail %}
  {% include 'jinja/tail.html' %}
{% endblock %}