{% block head %}
  {% include 'jinja/head.html' %}
{% endblock %}

<div class='email app'>
    <div class='msg card'>
        <div class='card-body'>
            <h3 class='card-title'>{{my_data.subject}}</h3>
            <h4 class='card-subtitle text-muted'>{{my_data.author}}</h4>
            <div class='msg-content'>
                {{my_data.content}}
            </div>
            <h5 class='card-subtitle text-muted'>{{my_data.date}}</h5>
        </div>
    </div>
</div>

{% block tail %}
  {% include 'jinja/tail.html' %}
{% endblock %}